@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 auto;
    width: 95%;
    /* padding: 0px 10px; */
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: cursive;
}

header p {
    display: flex;
    height: auto;
    width: auto;
    text-align: left;
    height: 64px;
    top:20px;
}

#logo {
    height: 43px;
    position:relative;
    top: 10px;
}

h1 {
    text-indent: 0.5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #fcb900;
    border: none;
    border-radius: 50%;
    font-family: cursive;
}

ul {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

header a {
    display: block;
    text-decoration: none;
    color: black;
}

/* 各ページ共通 */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 100px;
    background-image: url(./images/2302551_l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px auto;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

h2 {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    text-align: left;
    border-bottom: #ff6900 5px solid;
}

#option h2 {
    border-bottom: none;
}

h2:last-of-type {
    margin-top: 30px;
}

img {
    width: 100%;
    /* width: 100%; の場合、親に対しての100％という指示。 */
    height: 100%;
    /* width: 100%; height: 100%; の両方を入れると、先に到達するほうが優先される。 */
    vertical-align: bottom;
    object-fit: cover;
    /* 物体の縦横比を変えずにはみ出た部分をカットする。 */
}

#info p {
    width: 30%;
}

/* 森田先生の修正-br→pの変更分のCSSの追加 */
.ue1 {
    margin-top: 1em;
}


/* q&A main リスト型のQ&AのCSS*/
.qa-008 dt {
    margin-bottom: 1em;
    color: #333333;
    font-weight: 600;
}

.qa-008 dt::before,
.qa-008 dd::before {
    margin-right: .4em;
}

.qa-008 dt::before {
    content: "Q.";
    color: #000088;
    font-size: larger;
}

.qa-008 dd {
    margin: 0 0 2.5em;
    padding: 1em 1.5em;
    background-color:#d1e5e8;
    color: #333333;

}

.qa-008 dd p:first-of-type::before {
    content: "A. ";
    color: #F30100;
    font-size: larger;
}

.qa-008 dd:hover {
    background-color: #ffc9d7;
    }
/* ここまで　*/


/* aboutus main */
.group-photo {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

section div {
    width: 280px;
    margin: 0 auto;
}

/* プロフィール紹介のCSS */
.content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
}

.heading-lv2 {
    font-size: 24px;
}

.heading-lv3 {
    font-size: 20px;
}

.heading-margin {
    margin-top: 32px;
}

.text {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.5;
}

.text-center {
    text-align: left;
}

.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
/* ここまで */

/* footer */
footer p {
    margin: 50px;
    text-align: left;
    font-size: 14px;
    /* font-family: 'Mrs Saint Delafield' */
}

/* MediaQuery width 1000px以上 */
@media screen and (min-width:1000px) {
    button {
        display: none;
    }
    ul {
        flex-direction: row;
    }
    
    li {
        width: 120px;
        text-align: center;
    }
    li:hover {
        background-color: #fcb900;
        border: none;
        border-radius: 50%;
    }

    #kinen {
        justify-content: space-around;
    }
    #kinen p {
        max-width: 320px;
        height: 200px;
    }

    section {
        flex-direction: row;
    }
    
}
