@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}
#wrap {
    margin: 0 auto;
    width: 95%;
    /* padding: 0px 10px; */
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: cursive;
    padding: 40px 0 20px 0;
}header p {
    display: flex;
    justify-content: flex-start;
    line-height: auto;
    width: auto;
    height: 95px;
    top:20px;
}header img {
    object-fit: contain;
    width: auto;
}#logo {
    height: 64px;
    position:relative;
    top: 10px;
}h1 {
    text-indent: 0.5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}button {
    padding: 10px 20px;
    background-color: #fcb900;
    border: none;
    border-radius: 50%;
    font-family: cursive;
}ul {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    list-style: none;
}header a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* index.html のCSS */
section h1 {
    margin-bottom: 20px;
    width: 100%;
    line-height: 200px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 100px;
    background-image: url(./images/2302551_l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px auto;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}h2 {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    text-align: left;
    border-bottom: #ff6900 5px solid;
}#midashi h2 {
    border-bottom: none;
}h2:last-of-type {
    margin-top: 30px;
}

/* 森田先生の修正-br→pの変更分のCSSの追加 */
.ue1 {
    margin-top: 1em;
}

/* aboutus.html のCSS */
img {
    width: 100%;
    /* width: 100%; の場合、親に対しての100％という指示。 */
    height: 100%;
    /* width: 100%; height: 100%; の両方を入れると、先に到達するほうが優先される。 */
    vertical-align: bottom;
    object-fit: cover;
    /* 物体の縦横比を変えずにはみ出た部分をカットする。 */
}

/* リスト型のQ&AのCSS*/
.qa-008 dt {
    margin-bottom: 1em;
    color: #333333;
    font-weight: 600;
}
.qa-008 dt::before,
.qa-008 dd::before {
    margin-right: .4em;
}
.qa-008 dt::before {
    content: "Q.";
    color: #000088;
    font-size: larger;
}
.qa-008 dd {
    margin: 0 0 2.5em;
    padding: 1em 1.5em;
    background-color:#d1e5e8;
    color: #333333;

}
.qa-008 dd p:first-of-type::before {
    content: "A. ";
    color: #F30100;
    font-size: larger;
}
.qa-008 dd:hover {
    background-color: #ffc9d7;
    }

/* web-applyの設定 */
.apply h2 {
    line-height: 40px;
    font-size: 24px;
    padding-bottom: 20px;
}
.apply div {
    text-align: center;
}
.apply div img {
    width: 300px;
    height: auto;
} 

 /* ここまで　*/

.group-photo {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
section div {
    width: 500PX;
    margin: 0 auto;
}

/* プロフィール紹介のCSS */
.heading-lv2 {
    font-size: 40px;
}

.heading-lv3 {
    font-size: 35px;
}

.heading-margin {
    margin-top: 0px;
}

.text {
    margin: 16px 0 0;
    font-size: 28px;
    line-height: 1.5;
}

.text-center {
    text-align: left;
}

.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}
/* ここまで */

/* footer */
footer p {
    margin: 50px;
    text-align: left;
    font-size: 14px;
    /* font-family: 'Mrs Saint Delafield' */
}

/* MediaQuery width 600px以上 */
@media screen and (min-width:600px) {
    .group-photo {
        max-width: 65%;
    }

}

/* MediaQuery width 1000px以上 */
@media screen and (min-width:1000px) {
    button {
        display: none;
    }
    ul {
        flex-direction: row;
    }
    
    li {
        width: 120px;
        text-align: center;
    }
    li:hover {
        background-color: #fcb900;
        border: none;
        border-radius: 50%;
    }

    section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .group-photo {
        max-width: 50%;
    }
    .heading-lv2 {
        font-size: 24px;
    }
    
    .heading-lv3 {
        font-size: 20px;
    }
    .text {
        margin: 16px 0 0;
        font-size: 16px;
        line-height: 1.5;
    }
}
