@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    margin: 0 auto;
    width: 95%;
    /* padding: 0px 10px; */
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: cursive;
}

header p {
    display: flex;
    height: auto;
    width: auto;
    text-align: left;
    height: 64px;
    top:20px;
}

#logo {
    height: 43px;
    position:relative;
    top: 10px;
}

h1 {
    text-indent: 0.5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #fcb900;
    border: none;
    border-radius: 50%;
    font-family: cursive;
}

ul {
    display: none;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

/* main */

.group-photo {
    margin: auto;
    padding-bottom: 40px;
    width: auto;
    max-width: 500px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;/*縦20px、横30pxの指定*/
}

section h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 100px;
    background-image: url(2302551_l.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px auto;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

h2 {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
}

h2:first-of-type {
    text-align: left;
    border-bottom: #ff6900 5px solid;
}

#option  p {
    width: auto;
    max-width: 230px;
}

img {
    width: 100%;
    /* width: 100%; の場合、親に対しての100％という指示。 */
    height: 100%;
    /* width: 100%; height: 100%; の両方を入れると、先に到達するほうが優先される。 */
    vertical-align: bottom;
    object-fit: cover;
    /* 物体の縦横比を変えずにはみ出た部分をカットする。 */
}

/* ここからプロフィール部分用 */


.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

/* ここまで */

/* footer */
footer p {
    margin: 50px;
    text-align: right;
    font-size: 14px;
    /* font-family: 'Mrs Saint Delafield' */
}

/* MediaQuery width 400px以上 */
@media screen and (min-width:400px) {
    button {
        display: none;
    }
    ul {
        display: flex;
    }
    li {
        width: 120px;
        text-align: center;
    }
    li:hover {
        background-color: #fcb900;
        border: none;
        border-radius: 50%;
    }

    #option p:not(:last-of-type) {
        margin-right: 0.5%;
    }

    #option p:nth-of-type(even) {
        margin-left: 0;
    }

    #kinen {
        justify-content: space-around;
    }
    #kinen p {
        max-width: 320px;
        height: 200px;
    }
}
